<!doctype html>
<html>
<head>
  <h1></h1>
  <style type="text/css">
  body { text-align:center;font-family;helvect,arial;font-siz:22p;
           color:#888;margin:20px}
         #c {margin:0 auto;width:500px;text-align:left}
  </style> 
</head>
</html>
<body>
  <h2>Sinatra doesn’t know this ditty.</h2>
        <img src='http://example.org/__sinatra__/404.png'>
        <div id="c">
</body>